<!-- home.html -->

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Кинотеатр</title>

    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>
<body>


<div class="header-bar">
    <div class="header-content">
        <div class="username">{{ username }}</div>
        <div class="user-avatar"></div>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Выйти</button>
        </form>
    </div>
</div>





    <h2 style="font-size: 32px;">Добро пожаловать в онлайн кинотеатр: "Пиратская бухта"</h2>
    <div class="grid">
        {% for item in contents %}
            <a href="{% url 'content_detail' item.id %}" class="card">
                <img src="{% static 'images/content/' %}{{ item.id }}.jpg" alt="Изображение">
                <div class="card-body">
                    <div class="card-title">{{ item.title }}</div>
                    <div class="card-info">
                        Возрастной рейтинг: {{ item.age_rating }}+<br>
                        Жанр: {{ genre_map|dict_get:item.genre }}
                    </div>
                </div>
            </a>
        {% empty %}
            <p>Контент не найден.</p>
        {% endfor %}
    </div>








<script>
    const access = "{{ access_token }}";
    const refresh = "{{ refresh_token }}";

    document.getElementById("logout-button").addEventListener("click", function () {
        if (!refresh || !access) {
            alert("Вы уже вышли или не авторизованы.");
            window.location.href = "/login/";
            return;
        }

        fetch("/api/logout/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"

            },
            body: JSON.stringify({ refresh }),
        })
        .then((response) => {
            if (response.status === 205) {
                alert("Вы успешно вышли.");
                window.location.href = "/login/";
            } else {
                alert("Ошибка при выходе.");
            }
        })
        .catch((error) => {
            console.error("Ошибка:", error);
        });
    });
</script>






</body>
</html>
