{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация — Пиратская бухта</title>

    <link rel="stylesheet" href="{% static 'css/register.css' %}">

</head>
<body>
    <div class="register-container">
        <a class="login-link" href="{% url 'login' %}">Уже есть аккаунт? Войти</a>

        <h1>Регистрация</h1>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <label>Email:</label>
            <input type="email" name="email" required>

            <label>Username:</label>
            <input type="username" name="username" required>

            <label>Password:</label>
            <input type="password" name="password" required>

            <input type="submit" value="Зарегистрироваться">
        </form>
    </div>
</body>
</html>
